<section class="container">
  <div class="contact">
    <i class="far fa-file-code"></i>
    <h3>SHEA PARROTT</h3>
  </div>
  <div class="contact">
    <div>
      <h5>St. Petersburg, FL</h5>
      <h5>PHONE: (904) 629-8670</h5>
      <h5>EMAIL: Alexandergotthis@gmail.com</h5>
    </div>
  </div>
  <div class="row">
    <div>
      <i class="fab fa-github-square"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-linkedin"></i>
    </div>
    <div class="footerRow" *ngFor="let nav of navigation">
      <h5 [routerLink]="[nav.url]">{{ nav.name }}</h5>
    </div>
  </div>
  <div class="line"></div>
  <h5 class="copyRight">Copyright doesn't exist - ENJOY!</h5>
</section>
