<header>
  <h1>{{ title }}</h1>
  <i class="fas fa-bars" (click)="_hamburgerMenu()"></i>
  <!--  -->
  <nav [ngStyle]="{ display: this.hamburgerMenu ? 'none' : 'block' }">
    <h4 (click)="_hamburgerMenu()">- CLOSE -</h4>
    <div *ngFor="let nav of navigation">
      <h5>
        <a routerLink="/{{ nav.url }}">{{ nav.name }}</a>
      </h5>
      <div class="hidden" *ngFor="let options of nav.options">
        <h5>
          <a routerLink="/{{ options.url }}">
            {{ options.name }}
          </a>
        </h5>
      </div>
    </div>
  </nav>
</header>
<!-- each navigation option have a drop down to take you to different sections of page/ display different options -->
<!-- home: home, features, contact -->
<!-- Planner: week, day, upcoming events (include option for linking to google calendar) -->
<!-- about: mission statement, contact, creator -->
