@font-face {
  font-family: 'goodVibes';
  src: url(../../assets/GoodVibes.ttf);
}
header {
  background: linear-gradient(#149788, #18a999);
  margin: 0;
  padding: 0;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .hidden {
    display: none;
  }
  h1 {
    padding: 0;
    margin: 0;
    padding: 11px 15px 3px 15px;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 2em;
    font-family: 'goodVibes';
    cursor: pointer;
  }
  .fa-bars {
    padding: 3px 5px 2px 5px;
    margin: 15px;
    font-size: 1.8em;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 2px;
  }
  .fa-bars:hover {
    box-shadow: 0 0 1.5px white;
  }
  h1:hover,
  .fa-bars:hover {
    text-shadow: 0 0 1.5px white;
  }
  nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d4d4d4;
    z-index: 100;

    div {
      width: 25%;
    }
    h5 {
      padding: 15px 0;
      width: 100%;
      margin: 0;
      font-size: 0.9em;
      text-align: center;
      cursor: pointer;
    }
    a {
      color: white;
    }
    h5:hover {
      background: #1dc5b1;
    }
  }
}
@media (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
      padding: 0;
      margin: 0;
      padding: 10px 15px 8px 15px;
      letter-spacing: 3px;
      font-weight: 500;
      font-size: 1.8em;
      font-family: 'goodVibes';
      cursor: pointer;
    }
    nav {
      width: 500px;

      h5 {
        font-size: 1em;
      }
    }
  }
}
