@font-face {
  font-family: 'goodVibes';
  src: url(../../assets/GoodVibes.ttf);
}
header {
  background: linear-gradient(#149788, #18a999);
  margin: 0;
  padding: 0;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    padding: 0;
    margin: 0;
    padding: 15px 15px 3px 15px;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 1.8em;
    font-family: 'goodVibes';
    cursor: pointer;
  }
  h1:hover {
    text-shadow: 0 0 1.5px white;
  }
  nav {
    width: 100vw;
    display: flex;
    div {
      width: 25%;
    }
    h5 {
      padding: 15px 0;
      width: 100%;
      margin: 0;
      font-size: 0.9em;
      text-align: center;
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: white;
    }
    h5:hover {
      background: #1dc5b1;
    }
  }
}
@media (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
      padding: 0;
      margin: 0;
      padding: 10px 15px 8px 15px;
      letter-spacing: 3px;
      font-weight: 500;
      font-size: 1.8em;
      font-family: 'goodVibes';
      cursor: pointer;
    }
    nav {
      width: 500px;

      h5 {
        font-size: 1em;
      }
    }
  }
}
