/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
.line {
  height: 1px;
  background: #666666;
  width: 100%;
}
.container {
  width: 100vw;
  padding: 20px 0;
}
.center {
  display: flex;
  justify-content: center;
}
.subContainer {
  width: 90%;

  h2 {
    text-align: center;
    font-size: 3em;
  }
  button {
    font-size: 1.5rem;
    border: 1px solid black;
    background-color: #fff8f800;
  }
}
.contact {
  display: flex;
  align-items: flex-start;

  h3 {
    font-size: 2em;
  }
  h3,
  h5 {
    margin: 0;
    padding: 0;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footerRow {
  display: flex;
  justify-content: space-evenly;
  h5 {
    margin: 15px 0 0 15px;
    padding: 0;
  }
}
.fa-twitter-square,
.fa-linkedin,
.fa-github-square {
  font-size: 1.55em;
  margin: 5px 8px 0 0;
}
.fa-file-code {
  font-size: 1.9em;
  padding-right: 10px;
}
.copyRight {
  padding: 0;
  margin-top: 5px;
}

@media (min-width: 600px) {
  .contact {
    h3 {
      font-size: 1.7em;
    }
  }
  .footerRow {
    display: flex;
    justify-content: space-evenly;
    h5 {
      margin: 0 0 0 15px;
      padding: 0;
    }
  }
  .fa-twitter-square,
  .fa-linkedin,
  .fa-github-square {
    font-size: 1.8em;
    margin: 5px 10px 0 0;
  }

  .fa-file-code {
    font-size: 1.5em;
    padding-right: 10px;
  }
}
