<section class="container center">
  <div class="subContainer">
    <h2>Inspiration</h2>
    <p>
      Bacon ipsum dolor amet swine cupim porchetta salami, capicola picanha
      spare ribs meatball doner beef corned beef short ribs. Bacon pork loin
      cupim, tongue andouille meatball doner bresaola alcatra.
    </p>
    <div class="center">
      <button>GET STARTED</button>
    </div>
  </div>
</section>
<section class="container center">
  <div class="subContainer">
    <div>
      <div>
        <img src="" />
        <!-- hover over event p tag about feature -->
      </div>
    </div>
  </div>
</section>
<section class="container center">
  <div class="subContainer">
    <div class="contact">
      <i class="far fa-file-code"></i>
      <h3>SHEA PARROTT</h3>
    </div>
    <div class="contact">
      <div>
        <h5>St. Petersburg, FL</h5>
        <h5>PHONE: (904) 629-8670</h5>
        <h5>EMAIL: Alexandergotthis@gmail.com</h5>
      </div>
    </div>
    <div class="row">
      <div>
        <i class="fab fa-github-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
      <div class="footerRow">
        <h5>HOME</h5>
        <h5>PLANNER</h5>
        <h5>ABOUT</h5>
      </div>
    </div>
    <div class="line"></div>
    <h5 class="copyRight">Copyright doesn't exist - ENJOY!</h5>
  </div>
</section>
<!-- engage your life feeling confident, happy people video in the background enjoying life-->
<!-- section for showing off main features, solid color background, display main features with hover over explainations-->
<!-- section for contact information -->
