<section class="container">
  <h2>Inspiration</h2>
  <p>
    Bacon ipsum dolor amet swine cupim porchetta salami, capicola picanha spare
    ribs meatball doner beef corned beef short ribs. Bacon pork loin cupim,
    tongue andouille meatball doner bresaola alcatra.
  </p>
  <div class="center">
    <button><a routerLink="/planner">GET STARTED</a></button>
  </div>
</section>
<section class="container">
  <div>
    <div>
      <img src="../../assets/calendar.jpg" />
    </div>
  </div>
</section>

<!-- engage your life feeling confident, happy people video in the background enjoying life-->
<!-- section for showing off main features, solid color background, display main features with hover over explainations-->
<!-- section for contact information -->
