<section class="container">
  <h2>Inspiration</h2>
  <p>
    Bacon ipsum dolor amet swine cupim porchetta salami, capicola picanha spare
    ribs meatball doner beef corned beef short ribs. Bacon pork loin cupim,
    tongue andouille meatball doner bresaola alcatra.
  </p>
  <div class="center">
    <button><a routerLink="/planner">GET STARTED</a></button>
  </div>
</section>
<section class="container">
  <div class="carouselContainer">
    <div
      #carouselSlide
      [ngStyle]="{
        transform: carouselStyleBool
          ? 'translateX(' + -carouselSize * carouselNumber + 'px)'
          : ''
      }"
      class="carouselSlide"
    >
      <div *ngFor="let image of carouselImages">
        <img src="{{ image.src }}" />
      </div>
    </div>
  </div>
  <button
    [ngStyle]="{
      visibility: carouselNumber === 1 ? 'hidden' : 'visible'
    }"
    id="prevButton"
    (click)="nextImage(-1)"
  >
    Prev
  </button>
  <button
    [ngStyle]="{
      visibility:
        carouselNumber === carouselImages.length ? 'hidden' : 'visible'
    }"
    id="nextButton"
    (click)="nextImage(1)"
  >
    Next
  </button>
</section>

<!-- engage your life feeling confident, happy people video in the background enjoying life-->
<!-- section for showing off main features, solid color background, display main features with hover over explainations-->
<!-- section for contact information -->
